* {
    font-family: Arial;
}

.name {
    padding-top: 10px;
    font-size: 15px;
    color:black;
    font-weight: 600;
}

.image {
    border-radius: 50px;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    background: rgba(52,152,219,1);
}

svg {
    position: relative;
    display: block;
    fill: white;
    margin: 0 auto;
    top:27%;
    
}

.job {
    font-size: 11px;
    color:black;
    font-weight: 100;
    padding-top: 5px;
}
.profile-frame {
    background: rgba(51, 72, 95, 1);
    width: 500px;
    height: 383px;
    margin: 0 auto;
    position: relative;
}

.profile-card {
    width: 421px;
    height: 283px;
    margin: 0 auto;
    background: rgba(255,255,255,1);
    position: relative;
    top:13%;
}

.profile {
    display: block;
    position: relative;
    top: 42px;
    float:left;
    width: 281px;
    height: 100%;
    text-align: center;
}

.stats {
    float:left;
    width:140px;
    background: rgba(52,152,219,1);
}

.box {
    height: 93.625px;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.box:nth-child(2){
    border: solid 1px white;
    border-width: 1px 0px 1px 0px;
}

span.value,span.parameter {
    color: white;
    display: block;
    text-align: center;
}

span.value {
    font-size: 18px;
    font-weight: 400;
}

span.parameter {
    font-size: 11px;
    font-weight: 100;
}


.actions {
    display: inline-block;
    padding-top: 13px;
}

button.button {
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  height: 30px;    
  width:180px;
  margin: 5px;
  border-radius: 30px;
  font-family: Arial;
  font-weight: 600;
  color: rgba(43,61,82,1);
  background-color:white;    
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}